{% extends "base.html" %}

{% block title %}{{ name }}: presença{% endblock %}

{% block content %}
<h4>Oi bbzica, {{ name }}! Se quiser ir para a página dos professores: <a href="/">clique aqui</a>.</h4>

<section class="section" id="geral">
<h3>Presença Geral</h3>

<form hx-post="/api/hypermedia/general_attendance" hx-ext="my-json-enc" hx-target="#search-results-general" hx-trigger="post-attendance from:body, submit">
    <select name="mes" id="mes">
        {% for mes in meses.clone() %}
            {% if mes == mes_atual %}
                <option value="{{ mes }}" selected>{{ mes }}</option>
            {% else %}
                <option value="{{ mes }}">{{ mes }}</option>
            {% endif %}
        {% endfor %}
    </select>

    <button type="submit">Enviar</button>
</form>

<figure>
<table class="table" role="grid">
    <thead>
    <tr>
      <th>Professor</th>
      <th>Num. Aulas</th>
    </tr>
    </thead>
    <tbody id="search-results-general">
    </tbody>
</table>
</figure>
</section>

<section class="section" id="adicao">
<h3>Adição de presenças</h3>

<div hx-ext="response-targets">
    <form hx-post="/api/data/attendance/create"
          hx-ext="my-json-enc"
          hx-headers='{"Authorization": "Basic {{ auth }}"}'
          hx-target="#return-from-post"
          hx-target-error="#return-from-post">
        <div class="grid">
            <label for="teacher">
            Professor:
                <select name="teacher" id="teacher">
                    {% for teacher in teachers.clone() %}
                        <option value="{{ teacher }}">{{ teacher }}</option>
                    {% endfor %}
                </select>
            </label>

            <label for="level">
            Roda:
                <select name="level" id="level">
                    {% for level in levels.clone() %}
                        <option value="{{ level }}">{{ level }}</option>
                    {% endfor %}
                </select>
            </label>

            <label for="date">
            Data:
                <input type="date" name="date" id="date">
            </label>
        </div>

        <button type="submit">Enviar</button>
    </form>

    <div id="return-from-post"></div>
</div>
</section>

{% endblock %}
