{% extends "base.html" %}

{% block title %}Presença{% endblock %}

{% block content %}

<section class="section" id="geral">
<h3>Presença Geral</h3>

<form hx-post="/api/hypermedia/general_attendance" hx-ext="my-json-enc" hx-target="#search-results-general" hx-trigger="load, change from:#mes, change from:#ano">
    <div class="grid">
        <select name="mes" id="mes">
            {% for mes in meses.clone() %}
                {% if mes == mes_passado %}
                    <option value="{{ mes }}" selected>{{ mes }}</option>
                {% else %}
                    <option value="{{ mes }}">{{ mes }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input id="ano" name="ano" type="number" min="2023" max="2024" step="1" value="{{ ano_atual }}"/>
    </div>
</form>

<figure>
<table class="table" role="grid">
    <thead>
    <tr>
      <th>Professor</th>
      <th>Num. Aulas</th>
    </tr>
    </thead>
    <tbody id="search-results-general">
    </tbody>
</table>
</figure>
</section>

<section class="section" id="detalhada">
<h3>Presença Detalhada por Professor</h3>

<form hx-post="/api/hypermedia/teacher_attendance" hx-ext="my-json-enc" hx-target="#search-results-specific" hx-trigger="load, change from:#teacher, change from:#mes, change from:#ano">
    <div class="grid">
        <select name="teacher" id="teacher">
            {% for teacher in teachers.clone() %}
                <option value="{{ teacher }}">{{ teacher }}</option>
            {% endfor %}
        </select>

        <select name="mes" id="mes">
            {% for mes in meses.clone() %}
                {% if mes == mes_passado %}
                    <option value="{{ mes }}" selected>{{ mes }}</option>
                {% else %}
                    <option value="{{ mes }}">{{ mes }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input id="ano" name="ano" type="number" min="2023" max="2024" step="1" value="{{ ano_atual }}"/>
    </div>
</form>

<figure id="search-results-specific">
</figure>
</section>

{% endblock %}
